*, *::before, *::after {
    box-sizing: border-box;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .login-form {
    width: 343px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .login-input {
    margin-bottom: 16px;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 100px;
    border: none;
    background-color: #f0f0f0;
    outline: none;
    font-size: 16px;
  }
  
  .login-button {
    height: 51px;
    border-radius: 100px;
    background-color: #5DB075;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .password-container {
    position: relative;
    margin-bottom: 16px;
  }
  
  .login-input-password {
    padding-right: 165px; /* Add right padding to the password input */
  }
  
  .show-password-button {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #5DB075;
    font-size: 14px;
    outline: none;
    z-index: 1;
    font-weight: bold;
  }
  
  .headline {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: -80px;
  }
  
  /* Media query for big screens */
  @media screen and (min-width: 1200px) {
    .login-container {
      padding-left: 30%;
      padding-right: 30%;
    }
  
    .headline {
      font-size: 48px;
    }
  }
  
  /* Media query for iPads (landscape) */
  @media screen and (min-width: 1024px) and (max-width: 1199px) {
    .login-container {
      padding-left: 20%;
      padding-right: 20%;
    }
  
    .headline {
      font-size: 40px;
    }
  }
  
  /* Media query for iPads (portrait) */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .login-container {
      padding-left: 15%;
      padding-right: 15%;
    }
  
    .headline {
      font-size: 36px;
    }
  }
  
  /* Media query for iPhones (landscape) */
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .headline {
      font-size: 28px;
    }
  }
  
  /* Media query for iPhones (portrait) */
  @media screen and (max-width: 479px) {
    .headline {
      font-size: 24px;
    }
  }
  
  .signup-forgot-container {
    margin-top: 16px;
    text-align: center;
  }
  
  .signup-link,
  .forgot-password-link {
    color: #5DB075;
    text-decoration: none;
    cursor: pointer;
  }
  
  .signup-link {
    text-decoration: underline;
  }
  
  .forgot-password-link {
    display: block;
    margin-top: 8px;
  }
  